.hide-scrollbar {
  /* For Firefox */
  scrollbar-width: none;
  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
}

/* For Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}